from datetime import datetime, timedelta
from airflow import DAG
from airflow.contrib.operators.spark_submit_operator import SparkSubmitOperator
from airflow.models import Variable

dag = DAG(
    dag_display_name="{{dag_name}}",
    dag_id='{{dag_id}}',
    description="{{description}}",              
    tags=["{{user_id}}"],
    schedule_interval=None
)