from airflow import DAG
from airflow.operators.bash_operator import BashOperator
from datetime import datetime
dag_id = "{{ config.dag_id }}"
default_args = {{ config.default_args }}
schedule_interval = "{{ config.schedule_interval }}"
dag = DAG(
    dag_id=dag_id,
    default_args=default_args,
    schedule_interval=schedule_interval,
    catchup=False,
)
{% for task in config.tasks %}
{{ task.task_id }} = BashOperator(
    task_id="{{ task.task_id }}",
    bash_command="{{ task.bash_command }}",
    depends_on_past=True,
    dag=dag,
)
{% if task.dependencies %}
{{ task.task_id }} >> [{{ task.dependencies | join(", ") }}]
{% endif %}
{% endfor %}